p_yellow {
    color: #f47920;
}

p_price {
    color: #f47920;
    font-size: 24px;
    font-weight: bold;
}

p_price2 {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: line-through;
}

p_description {
    color: #f47920;
    font-size: 20px;
    font-weight: bold;
}

.iteminfo_content_top {
    width: 1200px;
    height: 560px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.iteminfo_pic {
    width: 384px;
    margin: 8px;
    height: 560px;
    float: left;
}

.iteminfo_maininfo {
    width: 784px;
    margin: 8px;
    height: 560px;
    float: left;
    background-color: rgba(255, 255, 255, 0.4);
}

.iteminfo_maininfo_text {
    width: 754px;
    padding-left: 20px;
    padding-right: 10px;
    overflow: hidden;
    float: left;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: left;
}

.iteminfo_maininfo_text.title {
    line-height: 70px;
    font-weight: bold;
    font-size: 24px;
    height: 70px;
    margin-bottom: 15px;
}

.iteminfo_maininfo_text.score {
    padding-top: 10px;
    line-height: 30px;
    font-size: 16px;
    white-space: pre;
}

.iteminfo_maininfo_text.rating {
    line-height: 30px;
    font-size: 16px;
}

.iteminfo_maininfo_text.format {
    line-height: 30px;
    font-size: 16px;
}

.iteminfo_maininfo_text.category {
    line-height: 30px;
    font-size: 16px;
}

.iteminfo_maininfo_text.publishdate {
    line-height: 30px;
    font-size: 16px;
    padding-bottom: 10px;
}


.iteminfo_maininfo_text.price {
    padding-top: 10px;
    line-height: 50px;
    font-size: 20px;
    margin-top: 15px;
}

.iteminfo_maininfo_text.stock {
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #1d953f;
}

.iteminfo_maininfo_text.available {
    line-height: 30px;
    font-size: 16px;
}

.iteminfo_maininfo_text.buy {
    padding-top: 20px;
    height: 50px;
    font-size: 16px;
    padding-bottom: 10px;
}

.iteminfo_maininfo_text.bottom {
    padding-top: 10px;
    height: 60px;
    padding-bottom: 20px;
}

div.iteminfo_maininfo input {
    float: left;
    height: 25px;
    line-height: 25px;
    outline: none;
    border: 1px solid black;
    width: 100px;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
}

.iteminfo_buybtn {
    float: left;
    margin-left: 20px;
    height: 40px;
    background-color: #d71345;
    color: white;
    border-style: none;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
    width: 300px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.iteminfo_buybtn:hover{
    background-color: #1d953f;
}

.iteminfo_content_bottom {
    width: 1200px;
    min-height: 300px;
    margin: 0 auto;
}

.iteminfo_description {
    width: 1144px;
    margin: 8px;
    padding: 20px;
    line-height: 30px;
    font-size: 16px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
}

.iteminfo_description.r{
    width: 1144px;
    margin: 8px;
    padding: 20px;
    overflow-x: auto;
    height: 400px;
}
.iteminfo_qa {
    width: 1144px;
    margin: 8px;
    margin-top: 32px;
    padding: 20px;
    line-height: 30px;
    font-size: 16px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
}

.des_and_video {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    width: 1200px;
}

div.comment {
    border-style: solid;
    background: white;
    width: 100%;
    padding: 15px;
    border-color: #f1f1f1;
}

div.all_comment {
    width: 100%;
}

p_d{
    white_space: pre-wrap;
}

.item_info_post_score_btn{
    margin-left: 10px;
    margin-top: 5px;
    height: 28px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid black;
    cursor: pointer;
}

.item_info_post_score_btn:hover{
    color: white;
    background: green;
}

.newtextarea{
    border:0;
    border-radius:5px;
    background-color:rgba(241,241,241,.98);
    width: 1000px;
    height: 200px;
    padding: 10px;
    resize: none;
    margin-left: 50px;
}

.post_button {
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    width: 170px;
    height: 47px;
    background-color: #27b069;
    font-size: 13px;
    border: none;
    color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-right: 70px;
    float: right;
}


.reply_button {
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    width: 100px;
    height: 30px;
    background-color: #27b069;
    font-size: 13px;
    border: none;
    color: #ffffff;
    margin-top: 40px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    {#margin-right: 30px;#}
    float: right;
}

.comment_area{
    {#border: 1px solid #d2d2d2;#}
    border-radius: 5px 5px 5px 5px;
}

.small_comment_area{
    border-radius: 5px 5px 5px 5px;
    background-color:rgba(241,241,241,.5);
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}