 *{
            font-family: Arial;
        }
        /*html,body{*/
        /*    width: 100%;*/
        /*    height: 100%;*/
        /*    background-color: white;*/
        /*    display: flex;*/
        /*    justify-content: center;*/
        /*    align-items: center;*/
        /*}*/
        /*div {*/
        /*    display: flex;*/
        /*}*/
        .container {
            display: flex;
            width: 1200px;
            height: 500px;
            margin: auto;
            background-color: rgba(255,255,255,0.5);
            flex-direction: row;
            /*justify-content: space-between;*/
            /*flex-direction: column;*/
                }
        .left-container{
            display: flex;
            height: 100%;
            width: 600px;
            flex-direction: column;
        }
        .right-container{
            display: flex;
            height: 100%;
            width: 600px;
            flex-direction: column;
        }
        .login-area {
            /*background: #ffffff none repeat scroll 0 0;*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 450px;
            width: 500px;
            margin-left: 10px;
            border: 1px solid #d2d2d2;
            /*margin-bottom: 15px;*/
            padding: 40px
        }
        .register-area {
            /*background: #ffffff none repeat scroll 0 0;*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 450px;
            width: 500px;
            border: 1px solid #d2d2d2;
            /*margin-right: 10px;*/
            margin-left: 10px;
            /*margin-bottom: 15px;*/
            padding: 40px
        }
        li{
            margin-left: 10px;
            font-size: 40px;
        }
        /*li::marker{*/
        /*    content: "➡️";*/
        /*}*/
        .icon{
            display: flex;
            /*margin-left: 0px;*/
            height: 50px;
            justify-content: center;
            align-items: center;

        }
        .icon p{
            margin-left: 5px;
        }
        .right-container li{
            margin-left: 20px;
        }
        .signin-form{
            display: flex;
            flex-direction: column;
        }
        /*input{*/
        /*    !*box-shadow: inset;*!*/
        /*    height: 40px;*/
        /*    !*border-radius: 5px 5px 5px 5px;*!*/
        /*    border: 1px solid #d2d2d2;*/
        /*}*/
        /*.login-button{*/
        /*    !*height: 30px;*!*/
        /*    !*width: 100px;*!*/
        /*    !*!*background-color: #3b5769;*!*!*/
        /*    !*margin-top: 90px;*!*/
        /*    !*cursor: pointer;*!*/
        /*    width: 170px;*/
        /*    height: 47px;*/
        /*    background-color: #27b069;*/
        /*    font-size: 13px;*/
        /*    border: none;*/
        /*    color: #ffffff;*/
        /*    margin-top: 20px;*/
        /*}*/
        /*.register-button{*/
        /*    !*height: 30px;*!*/
        /*    !*width: 100px;*!*/
        /*    !*!*background-color: #3b5769;*!*!*/
        /*    !*margin-top: 20px;*!*/
        /*    !*cursor: pointer;*!*/
        /*    width: 170px;*/
        /*    height: 47px;*/
        /*    background-color: #27b069;*/
        /*    font-size: 13px;*/
        /*    border: none;*/
        /*    color: #ffffff;*/
        /*    margin-top: 44px;*/
        /*    margin-left: 40px;*/
        /*}*/
        .error-message{
            color: palevioletred;
            line-height: 0;
        }
         .register {
            width: 170px;
            height: 47px;
            background-color: #27b069;
            font-size: 13px;
            border: none;
            color: #ffffff;
            margin-top: 44px;
            margin-left: 40px;
        }


         @media screen and (max-width: 800px ) {
             .container{
                 display: flex;
                 flex-direction: column;
                 width: 600px;
                 height: 100%;
                 /*overflow: hidden;*/
             }
             .left-container{
                height: 500px;
            }
             .right-container{
                height: 500px;
                 margin-top: 20px;
            }

         }
        @media screen and (min-width: 801px) and (max-width: 1199px) {
            .container {
                width: 100%;
                overflow: hidden;
            }
        }