{% extends "base.html" %}

{% block content %}

<div class="search_content">
    <div class="search_left_bar">
        <div class="search_left_bar_text title">
            SHOP BY
        </div>

        <div class="search_left_bar_box">
            <div class="search_left_bar_text subtitle">
                Categories
            </div>
            <div class="search_left_bar_text text">
                Comedy
            </div>
            <div class="search_left_bar_text text">
                Comedy
            </div>
            <div class="search_left_bar_text text">
                Comedy
            </div>
            <div class="search_left_bar_text text">
                Comedy
            </div>
            <div class="search_left_bar_text text">
                Comedy
            </div>
        </div>

        <div class="search_left_bar_box">
    <div class="search_left_bar_text subtitle">
        Categories
    </div>
    <div class="search_left_bar_text text">
        Comedy
    </div>
    <div class="search_left_bar_text text">
        Comedy
    </div>
    <div class="search_left_bar_text text">
        Comedy
    </div>
    <div class="search_left_bar_text text">
        Comedy
    </div>
    <div class="search_left_bar_text text">
        Comedy
    </div>
</div>

        <div class="search_left_bar_box">
    <div class="search_left_bar_text subtitle">
        Categories
    </div>
    <div class="search_left_bar_text text">
        Comedy
    </div>
    <div class="search_left_bar_text text">
        Comedy
    </div>
    <div class="search_left_bar_text text">
        Comedy
    </div>
    <div class="search_left_bar_text text">
        Comedy
    </div>
    <div class="search_left_bar_text text">
        Comedy
    </div>
</div>

    </div>

    <div class="search_right_bar">


        <div class="search_div_change_page">
            {% if products.has_previous %}
            <a href="?page=1"> <button class="search_div_change_page_btn">&laquo; first</button></a>
            <a href="?page={{ products.previous_page_number }}"> <button class="search_div_change_page_btn">previous</button></a>
            {% endif %}
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
            {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}"><button class="search_div_change_page_btn">next</button></a>
            <a href="?page={{ products.paginator.num_pages }}"><button class="search_div_change_page_btn">last &raquo;</button></a>
            {% endif %}
        </div>

        {% for product in products %}
                <div class="search_content_item">
                    {% if product.image.url %}
                        <a href="{% url "Product:getProduct" product.id %}" style="text-decoration: None;">
                            <img src="{{ product.image.url }} " style="height: 400px; width: 284px;  margin: auto;
               " class="card-img-top">
                        </a>
                    {% else %}
                        <a href="{% url "Product:getProduct" product.id %}" style="text-decoration: None;">
                            <img src="https://github.com/Hankin72/COMP9315_21T1/blob/master/_20t1/logo.png?raw=true"
                                 style="height: 400px; width: 284px;  margin-left: auto;
                margin-right: auto;" class="card-img-top">
                        </a>
                    {% endif %}

                    <div class="search_content_body">
                        <div class="search_content_body_text title">
                            <a id="nm{{ product.id }}" href="{% url "Product:getProduct" product.id %}"
                               style="text-decoration: None;">
                                {{ product.title }}
                            </a>
                        </div>
                        <div class="search_content_body_text text" style="padding-bottom: 8px;">
                            {% if product.discount_price %}
                                <p_price>${{ product.discount_price }}</p_price>
                                <p_price2> was ${{ product.price }}</p_price2>
                            {% else %}
                                <p_price> ${{ product.price }}</p_price>
                            {% endif %}
                        </div>
                        <div class="search_content_body_text text">
                            {{ product.format }} | {{ product.category }} | {{ product.availability }}
                        </div>
                        <div class="row" style="margin-top: 12px; margin-left: 10px;">
                            {#                                <div class="col-md-3">#}
                            {#                                    <input type="number" value="1" class="btn"#}
                            {#                                           style="border: 1px solid #d71345; width: 70px; cursor: auto;">#}
                            {#                                </div>#}
                            <div class="col-md-9">
                                <button id="{{ product.id }}" class="search_page_buy_button">Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>


</div>

</html>


{% endblock content %}