<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font.css">
</head>

<div class="headpage">
    <div class="logo">
        <image width="50px" height="50px" src="/static/tick.svg"></image>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Item 1</button>
        <div class="dropdown-content">
            <a>Item 1</a>
            <a>Item 2</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Item 2</button>
        <div class="dropdown-content">
            <a>Item 1</a>
            <a>Item 2</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Item 3</button>
        <div class="dropdown-content">
            <a>Item 1</a>
            <a>Item 2</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Item 4</button>
        <div class="dropdown-content">
            <a>Item 1</a>
            <a>Item 2</a>
        </div>
    </div>

    <div class="dropdown right">
        <button class="dropbtn">Item 5</button>
        <div class="dropdown-content">
            <a>Item 1</a>
            <a>Item 2</a>
        </div>
    </div>
    <button class="searchbtn">Search</button>
    <input type="text" placeholder="Find..." name="keyword" id="input1" value="" oninput="change()"/>
</div>

<div class="container">
    {% block content %}
    {% endblock content %}
</div>

<div class="footpage">
    <div class="footrow">
        <div class="footcolumnl">
            <div class="foottext">
                <h_foot>ABOUT US</h_foot><br/>
                <p_foot>Our goal is to create an E-commerce platform focusing on the field of movie discs, allowing users to purchase these movie discs easily. And we will use recommendation algorithms to help users find products of interest.</p_foot>
            </div>
        </div>
        <div class="footcolumnr">
            <div class="foottext">
                <h_foot>CONTACT US</h_foot><br/>
                <p_foot>Email: 9900xxxxxxxxx@163.com</p_foot><br/>
                <p_foot>Phone: 1234567890</p_foot><br/>
            </div>
        </div>
    </div>

    <div class="footend">
        <img src="/static/payment.png"><br/>
        <p_foot>Designed & Developed by 9900-h18b-aoligei</p_foot><br/>
    </div>
</div>


</html>