{% extends "base.html" %}
{% block content %}
    <div class="homecontent">
        <div class="homecontent_title">
            NEW RELEASE
        </div>
        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie1.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>

        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie2.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>

        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie1.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>

        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie2.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>
    </div>

    <div class="homecontent">
        <div class="homecontent_title">
            SPOTLIGHT
        </div>
        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie1.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>

        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie2.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>

        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie1.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>

        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie2.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>
    </div>

    <div class="homecontent">
        <div class="homecontent_title">
            RECOMMENDATION
        </div>
        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie1.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>

        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie2.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>

        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie1.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>

        <div class="homecontent_item">
            <div class="homecontent_pic">
                <img height="100%" width="100%" src="/static/movie2.jfif"/>
            </div>
            <div class="homecontent_info">
                <div class="homecontent_info_text d1">
                    The Movie/TV series' Name
                </div>
                <div class="homecontent_info_text d2">
                    Price:$16 | comedy | PG-12
                </div>
                <div class="homecontent_info_text d3">
                    <button class="homepagebtn l">BUY</button>
                    <button class="homepagebtn r">LIKE</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}