{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Recently released products -->
<div class="homecontent_title" id="homecontent_title_1">
    NEW RELEASE
</div>
<div class="carousel-4">
    <div class="carousel-container">
        <div class="carousel-cards-wrap">
            {% for single_product in product_new_release %}
                <div class="carousel-cards">
                    <a class="homecontent_pic" href="product_id={{ single_product.id }}"
                       style="text-decoration: None;">
                        <img height="100%" width="100%" src="{{ single_product.image.url }}"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Recommended products -->
<div class="homecontent">
    <div class="homecontent_title" id="homecontent_title_2">
        SPOTLIGHT
    </div>
    {% for short in product_spotlight %}{% for long in product_all %}
        {% if short.product_id == long.id %}
            <div class="homecontent_item">
                <a href="product_id={{ short.product_id }}" style="text-decoration: None;">
                    <div class="homecontent_pic">
                        <img height="100%" width="100%" src="{{ long.image.url }}"/>
                    </div>
                </a>
                <div class="homecontent_info">

                    <div class="homecontent_info_text d1">
                        <a id="zh_home_spot{{short.product_id}}" href="product_id={{ short.product_id }}"
                           style="text-decoration: None; color: black;size: +4px;">{{ long.title_zh }}</a>
                        <a id="home_spot{{short.product_id}}" href="product_id={{ short.product_id }}"
                           style="text-decoration: None; color: black;size: +4px;">{{ long.title }}</a>
                        <script>
                            if(storage.getItem('language') == 'ch') {
                                document.getElementById("home_spot{{short.product_id}}").style.display = 'none';
                            }
                            else{
                                document.getElementById("zh_home_spot{{short.product_id}}").style.display = 'none';
                            }
                        </script>
                    </div>

                    <div class="homecontent_info_text d2" style="color: #d71345; font-weight: bold; font-size: 20px;" >
                        {% if single_product.discount_price %}
                            Price:${{ long.discount_price|floatformat:2 }}
                        {% else %}
                            Price:${{ long.price|floatformat:2 }}
                        {% endif %}
                    </div>
                    <div class="homecontent_info_text" style="font-size: 15px; color: #f47920; padding-top: 10px;">
{#                            <span id="star">Score: </span>#}
                        <div id="ssss">Score: {{ short.avg }}</div>

                    </div>

                </div>
            </div>
        {% endif %}
    {% endfor %}{% endfor %}
</div>


<script type="text/javascript">
    if(storage.getItem('language') == 'ch') {
        document.getElementById('homecontent_title_1').innerHTML = '最新发布';
        document.getElementById('homecontent_title_2').innerHTML = '非常热门';
    }

</script>

{% endblock content %}