{% extends "base.html" %}
{% load static %}


{% block content %}
    <h1>this is order details</h1>
    <a href="{% url "Product:my_order" %}">Back to order list</a><br/>

    {{ order.customer }} | {{ order.transaction_id }} | {{ order.date_ordered }} | {{ order.complete }} <br/>
    <hr/>

    {% for orderitem in orderItems %}
        <div style="background-color: lightblue">
            {{ orderitem.product.title }} <br>
            <img src=" {{ orderitem.product.image.url }}"><br/>

            {% if orderitem.product.discount_price %}
                ${{ orderitem.product.discount_price }}<br/>
            {% else %}
                ${{ orderitem.product.price }}<br/>
            {% endif %}

            quantity: x{{ orderitem.quantity }}
        </div>
    {% endfor %}
    <hr/>

    Total price: ${{ order.get_cart_total }} <br/>
    total items: {{ order.get_cart_items }} <br/>

    {% for shipping in shipping_address %}
        {{ shipping.address }} <br/>
        {{ shipping.city }} <br/>
        {{ shipping.state }} <br/>
        {{ shipping.zipcode }} <br/>
        {{ shipping.country }} <br/>
        receiver: {{ shipping.customer }} <br/>
    {% endfor %}
{% endblock content %}