<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <style>
        .icon{
            display: flex;
            /*margin-left: 0px;*/
            height: 50px;
            justify-content: center;
            align-items: center;

        }
        .icon p{
            margin-left: 5px;
        }
        .botton-container{
            display: flex;
            justify-content: center;
        }

    </style>
</head>
{% extends "base.html" %}
{% block content %}
<body>
<div class="container">
    <div class="icon">
        <img src="/static/arrow-alt-circle-right-solid.svg" style="height: 30px;width: 30px">
        <p style="font-size: 30px">Order History</p>
    </div>
    <div class="botton-container">
    <div class="order-history">
        <table border="1">
            <tbody>
            <tr>
                <th>Image</th>
                <th>Qty</th>
                <th>Product Name</th>
                <th>Total</th>
                <th>Order ID</th>
            </tr>
            <tr>
                <td>
                    <img src="/static/myimage.png">
                </td>
                <td>X3</td>
                <td>
                    <h4>
                        <a href="/templates/Product/item_info.html">Inception</a>
                    </h4>
                    <p>Type: blue ray</p>
                </td>
                <td>$50</td>
                <td>88888</td>
            </tr>
            <tr>
                <td>
                    <img src="/static/myimage.png">
                </td>
                <td>X3</td>
                <td>
                    <h4>
                        <a href="/templates/Product/item_info.html">Inception</a>
                    </h4>
                    <p>Type: blue ray</p>
                </td>
                <td>$50</td>
                <td>88888</td>
            </tr>

            </tbody>
        </table>
    </div>
        </div>
</div>
</body>
{% endblock content %}
</html>