<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<!--    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">-->
<!--    <link rel="stylesheet"  type="text/css" href="/static/css/font-awesome/css/font-awesome.css">-->
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>

{% extends "base.html" %}
{% block content %}
<body>



<div class="container">

    <div class="left-container">
        <li>Login</li>
        <div class="login-area">
         <form method="post" class="signin-form" action="{% url 'User:login' %}">
             {% csrf_token %}
             <!--             {{ form.as_p }}-->
             <p>User Name</p>
             <input type="text" name="username" placeholder="Username" required>
             <p>Your Password</p>
             <input type="password" name="password" placeholder="Password" required>
             {% if form.errors %}
                <p class="error-message">Your username and password didn't match. Please try again.</p >
             {% endif %}
             <button class="login-button" type="submit" name="submit">Login</button>
             <input type="hidden" name="next" value="{% url 'Product:home' %}"/>
         </form>
        </div>
        </div>
    <div class="right-container">
        <li>Register</li>
        <div class="register-area">
            <form method="post" class="signin-form" action="{% url 'User:register' %}" >
                {% csrf_token %}
<!--                {{form.as_p}}-->
                <p>User Name</p>
                <input type="text" name="username" placeholder="Usernamer" required>
                <p>Your Email</p>
                <input type="email" name="email" placeholder="Password" required>
                <p>Your Password</p>
                <input type="password" name="password" placeholder="Password" required>
                <button class="register-button" type="submit" name="submit">Register</button>
                <input type="hidden" name="next" value="{% url 'Product:home' %}"/>
            </form>

        </div>
        </div>


<!--   </form>-->

</div>




</body>
{% endblock content %}
</html>